
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Philosopher:400,700&subset=cyrillic');
body,
html {

    font-family: 'Philosopher', sans-serif;
    color:#161116;
    margin: 0;
    padding: 0;
    bottom: 0;
    text-align: center;
}
/*
font-family: 'Marck Script', cursive;
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
    padding: 0;
    margin: 0;
    bottom: 0;
}

ul,
li {
    list-style: none;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

.over {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

section,
header,
nav {
    text-align: left;
}

.gal1{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
}

section h2{
        font-family: 'Marck Script', cursive;
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
}
section h2 span{
    
    display: block;
    font-size: 30px;
    font-family: 'Philosopher', sans-serif;
}


/*header*/
header{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.gal1 .slide{
    height: 100vh;

}
.gal1 .slide1{
    background: url(../img/bg1.jpg) 50% no-repeat;
    background-size: cover;
}
.gal1 .slide2{
    background: url(../img/bg2.jpg) 50% no-repeat;
    background-size: cover;
}
.gal1 .slide3{
    background: url(../img/bg3.jpg) 50% no-repeat;
    background-size: cover;
}
#particles-js{
    
    background: url(../img/bottom.png) 50% 100% no-repeat, -webkit-linear-gradient(rgba(223, 35, 73, 0.8), rgba(0, 0, 0, 0.5));
    background: url(../img/bottom.png) 50% 100% no-repeat, -o-linear-gradient(rgba(223, 35, 73, 0.8), rgba(0, 0, 0, 0.5));
    background: url(../img/bottom.png) 50% 100% no-repeat, linear-gradient(rgba(223, 35, 73, 0.8), rgba(0, 0, 0, 0.5));

    background-size: contain, auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.content{
    margin-top: 5vh;
    text-align: center;
    z-index: 1;
    position: relative;
}
.logo{
    display: inline-block;

    position: relative;
    margin: auto;

}
.logo img{
    height: 150px;
    width: 150px;
}
.logo .l1{
    position: absolute;
    font-size: 70px;
    font-family: 'Marck Script', cursive;
    color:#DF2349;
    text-shadow: 0px 0px 5px #fff;
    left: 0px;
    top: 10px;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.logo .l2{
    position: absolute;
    font-size: 45px;
    font-family: 'Marck Script', cursive;
        color:#DF2349;
    text-shadow: 0px 0px 5px #fff;
    right: -15px;

    top: 30px;

    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
.contact{
    text-align: left;
    margin-top: 10px;
}
.contact span{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    color:#fff;
    
}
.contact a{
    line-height: 1.1;
    font-size: 34px;
    color:#fff;
}
.contact a img{
    width: 30px;
    margin-right: 20px;
}
.loc{
    margin-top: 10px;
    text-align: right;
    font-size: 18px;
    color:#fff;
}
.loc span{
    margin-bottom: 5px;
    display: block;
}
.map{
    cursor:pointer;
}
.map:hover{
    text-decoration: underline;
}
.loc span img{
    width: 20px;
    float: right;
    margin-left: 10px;
}
header h1{
    font-size: 60px;
    font-family: 'Marck Script', cursive;
    color:#fff;
    font-weight: 400;
    line-height: 1;
}
header h2{
    color:#fff;
    font-weight: 300;
    font-size: 30px;
}
header h2 span{
    display: inline-block;

}
header h2 span img{
    width: 30px;
	height:30px;
    margin-right: 10px;
}
#f1{
    max-width: 900px;
    margin: auto;
    margin-top: 30px;
}
header p{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Marck Script', cursive;
    color:#fff;
    font-weight: 400;
    line-height: 1;
}
.inp{
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
.inp input, .inp textarea{
    font-size: 18px;
    font-weight: 300;
outline:none;

    display: inline-block;
    width: 100%;
    font-weight: 400;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 30px;
    border:none;
    background: #ffffff;
        -webkit-box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.5);
}
.inp input:hover{
    background: #f0f0f0;

}
.g-recaptcha{
    display: inline-block;
    margin-top: 30px;
}
.btnarea{
    margin-top: 30px;
}
.btn{
    outline:none;
        cursor: pointer;
    padding: 10px 20px;
    background: #DF2349;
    border-radius: 50px;
    border:none;
    color:#fff;
    font-size: 22px;
    letter-spacing: 1px;
    
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.btn:hover{
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.btn:active{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}
.btn img{
    width: 30px;
    margin-left: 10px;
}
::-moz-placeholder       {color:#000;}/* Firefox 19+ */
:-moz-placeholder        {color:#000;}/* Firefox 18- */
:-ms-input-placeholder   {color:#000;}


/*section1*/
.sec1{
    text-align: center;
    padding: 50px 0;
}
.sec1 h2{

    color:#DF2349;
}
.hr{
    display: inline-block;
    background: url(../img/title-icon.png) 50% no-repeat;
    margin-top: 20px;
    height: 18px;
    display: block;
    text-align: center;
}


.s1p{
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}
.s1p img{
    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.s1p:hover img{
    -webkit-transform:scale(1.1) rotate(-5deg);
    -ms-transform:scale(1.1) rotate(-5deg);
    -o-transform:scale(1.1) rotate(-5deg);
    transform:scale(1.1) rotate(-5deg);
}
.s1p:after{
    z-index: 1;
    background: url(../img/frame.png) no-repeat;
    background-size: 100% 100%;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position: absolute;
}
.s1p figcaption{
    line-height: 1.1;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 0;
background: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    bottom: 50px;
    text-align: center;
}
.s1p figcaption strong{
    color: #df2349;
    font-size: 24px;
}
.sec1 p{
    font-size: 24px;
}
/*section2*/
.sec2{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background:  url(../img/top-shape.png) 0 0 repeat-x, url(../img/bottom-shape.png) 0 100% repeat-x, url(../img/footer-bg.jpg);
}
.sec2 h2{
    color:#fff;
    font-weight: 400;
}
.sec2 ul li{
    margin-top: 30px;
    vertical-align: top;
    width: 225px;
    text-align: center;
    display: inline-block;
}
.sec2 ul li figure{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    padding: 30px;
    background: url(../img/frame-sm.png) 50% no-repeat;
    background-size: contain;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.sec2 ul li:hover figure{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.sec2 ul li figure img{
    width: 100%;
        -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.sec2 ul li:hover figure img{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);    
}
.sec2 ul li p{
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
}
/*sec3*/
.sec3{
    padding: 50px 0;
    text-align: center;
    background: url(../img/sec2.png);
}
.sec3 h2{
    color: #df2349;
}
.sec3 h2 span{
    color: #161616
}
.wform{
    margin-top: 30px;
}
.wform input, .wform textarea{
    border:2px solid rgba(223, 35, 73, 0.6);
}
/*section4*/
.sec4{
    padding: 50px 0;
    position: relative;
    text-align: center;
    background: url(../img/sec4.jpg) 50% no-repeat;
    background-size: cover;
}
.sec4 .over{
    background: -webkit-linear-gradient(rgba(223, 35, 73, 0.6), rgba(223, 35, 73, 0));
    background: -o-linear-gradient(rgba(223, 35, 73, 0.6), rgba(223, 35, 73, 0));
    background: linear-gradient(rgba(223, 35, 73, 0.8), rgba(223, 35, 73, 0.5));
}
.sec4 h2{
    color:#fff;
}
.s4p{
	position: relative;
        margin-left: auto;
    margin-right: auto;
    position: relative;
    display: table;
    width: 230px;
    height: 230px;
        padding: 20px;

    background: rgba(255, 255, 255, 0.9) url(../img/pattern.png);
        border-radius: 50%;
        margin-top: 50px;
    
}
.s4p p{
position: relative;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.2;
   

    text-align: center;
    font-size: 16px;

    color:#161616;

}
.s4p:after{
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    content: "";
    background: url(../img/hover-frame.png) 50%;
    background-size: 100% 100%;
    
}
.s4p i{
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    height: 60px;
    border-radius: 50%;

    top: 10px;
    line-height: 60px;
    font-size: 40px;
    text-align: center;

    color: #DF2349;
}
/*section*/
.sec5{
    padding: 50px 0;
    text-align: center;
    background: url(../img/sec2.png);
}
.sec5 h2{
    color: #df2349;
}
.sec5 h2 span{
    color: #161616
}
.s5p{
    width: 250px;
    display: inline-block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: #fff url(../img/hearts.png) 50% 20px no-repeat;
   -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px dashed rgba(223, 35, 73, 0.6);

}
.s5p h3{
    position: relative;
    color:#fff;
    padding-top: 25px;
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    
}
.s5p .price{
    font-size: 36px;
    color:#fff;
    line-height: 1;
    text-align: right;
    padding-left: 40px;
    text-align: left;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.s5p:hover .price{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.s5p p{
    margin-top: 50px;
    font-size: 20px;
    line-height: 1;
}
.s5p .btnarea{
    margin-top: 20px;
}
.s5p .btn{
    padding: 8px 20px;
    display: inline-block;
}
/*section6*/
.sec6{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background:  url(../img/top-shape.png) 0 0 repeat-x, url(../img/bottom-shape.png) 0 100% repeat-x, url(../img/footer-bg.jpg);
}
.sec6 h2{
    color:#fff;
    font-weight: 400;
}
.sec6 figure img{
    width: 100%;
    padding: 5px;
    background: #fff;
    
}
.sec6 figure{
    position: relative;
    
}
.sec6 figure:after{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: #efefef;
    -webkit-transform: ;
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    border-radius: 2px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.sec6 figure img{
    position: relative;
    z-index: 2;
    border-radius: 2px;
}
.sec6 p{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    color:#fff;
}
/*section7*/
.sec7{
    padding: 50px 0;
    text-align: center;
    background: url(../img/pattern.png);
}
.sec7 h2{
    color: #df2349;
}
.sec7 h2 span{
    color: #161616
}
.sec7 p{
    font-size: 24px;
}
.s7p{

    position: relative;
    margin-top: 30px;

}

.s7p img{
    max-width: 100%;
    border-radius: 50%;

}
.s7p img:nth-child(1){
        padding: 10px;
    position: relative;
    z-index: 1;
}
.s7p img:nth-child(2){
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.man:after{
    width: 176px;
    height: 125px;
    content: "";
    position: absolute;
    right: -108px;
    bottom: 15px;
    background: url(../img/right-dot.png);
        -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.wooman:after{
    width: 176px;
    height: 125px;
    content: "";
    position: absolute;
    left: -108px;
    bottom:15px;
    background: url(../img/left-dot.png);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
.s7p figcaption{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.s7p:hover figcaption{
    padding: 10px 40px;
    background: #DF2349;
}
.man figcaption{
    padding: 10px 20px;
    background: rgba(223, 35, 73, 0.6);
    font-size: 22px;
    color:#fff;
    position: absolute;
    left: 10px;
    margin-top: -25px;
    top: 50%;
    z-index: 1;
    text-align: left;
    border-radius: 0 30px 30px 0;
}
.wooman figcaption{
    padding: 10px 20px;
    background: rgba(223, 35, 73, 0.6);
    font-size: 22px;
    color:#fff;
    position: absolute;
    right: 10px;
    margin-top: -25px;
    top: 50%;
    z-index: 1;
    text-align: left;
    border-radius:  30px 0 0 30px;
}
.middle{
    position: relative;
    z-index: 4;
    margin-top: 200px;
}
.middle img{
    max-width: 100%;
}
/*footer*/
footer{
    position: relative;

}
footer:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 32px;
        background:  url(../img/top-shape.png) 0 0 repeat-x;
}
#map{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.mesto{
    background: #fff;
    
    margin: 100px 0;
       -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px dashed rgba(223, 35, 73, 0.6);
}
.mesto h2{
    font-size: 22px;
    color: #df2349;
}
.mesto span, .mesto a{
    margin-top: 10px;
    color: #161616;
    font-size: 18px;
    display: block;
    text-align: left;
}
.mesto img{
    width: 20px;
    margin-right: 10px;
}
.copy{
    color:#fff;
    padding: 20px 0;
    font-size: 16px;
    background: url(../img/footer-bg.jpg);
}
.form{
    text-align: center;
    max-width: 360px;
    padding: 15px;
    background: #fff url(../img/sec2.png);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.form span{
    font-size: 18px;
}
.form span strong{
    font-size: 26px;
    color: #df2349;
}
#map1{
    padding: 0;
    min-width: 290px;
    width: 90%;

    height: 90%;
}


.heart-animation {
	-webkit-animation: heart-animation 2s ease-in-out infinite alternate;
	-webkit-transform-origin: bottom;
	animation: heart-animation 2s ease-in-out infinite alternate;
	transform-origin: bottom;
}

@-webkit-keyframes heart-animation {
	0% { -webkit-transform: rotateZ(20deg); }
	100% { -webkit-transform: rotateZ(-20deg); }
}

@keyframes heart-animation {
	0% { transform: rotateZ(20deg); }
	100% { transform: rotateZ(-20deg); }
}